---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { YouTube } from '@astro-community/astro-embed-youtube';

const metadata = {
  title: 'スタートアップのためのランディングページ',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="スタートアップウェブデモ"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'テンプレートを入手',
        href: 'https://github.com/onwidget/astrowind',
        icon: 'tabler:download',
      },
      { text: 'もっと詳しく', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      Astrowindテンプレートで<span class="hidden sm:inline">あなたの</span>スタートアップの<span
        class="text-accent dark:text-white highlight">オンラインプレゼンスを向上</span>させましょう
    </Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold">Astrowind</span>テンプレートでスポットライトを浴びましょう。あなたのスタートアップのデジタルフットプリントを強化し、信頼性を高め、リーチを拡大するための道筋です。
    </Fragment>

    <Fragment slot="image">
      <YouTube id="gxBkghlglTg" title="Astroがついに発売.... 究極のウェブフレームワークになるかもしれませんか？" />
      <style is:inline>lite-youtube { margin: 0 auto; max-width: 100%; }</style>
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="私たちについて"
    subtitle="夢を見事な現実に変える魔法を信じています。共有ビジョンを持つ情熱的な開発者たちによって設立された私たちは、ウェブサイト作成プロセスを簡素化することを目指しています。私たちのテンプレートは、Astro 4.0の革新とTailwind CSSの多様性を組み合わせており、これまでにない方法で独自のブランドアイデンティティを表現できます。"
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Astrowindの印象的な影響を発見"
    subtitle="以下の数字は、私たちに対するユーザーの信頼と、私たちが彼らにもたらした顕著な成果を反映しています。"
    stats={[
      { title: 'ダウンロード数', amount: '182K' },
      { title: 'ウェブサイトの立ち上げ', amount: '87' },
      { title: 'ユーザー評価', amount: '4.8' },
      { title: '満足しているクライアント', amount: '116K' },
    ]}
  />

  <!-- Brands Widget ****************** -->

  <Brands
    title="パートナーシップとコラボレーション"
    subtitle="Astrowindでは、革新を推進し、卓越した体験を創出するためのコラボレーションの力を信じています。"
    icons={[]}
    images={[
      {
        src: 'https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_1280.png',
        alt: 'Paypal',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/48/visa-6850402_1280.png',
        alt: 'Visa',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/10/01/10/29/ebay-189064_1280.png',
        alt: 'Ebay',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/04/13/17/45/icon-720944_1280.png',
        alt: 'Youtube',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/02/12/09/07/microsoft-80658_1280.png',
        alt: 'Microsoft',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png',
        alt: 'Node JS',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/10/31/12/54/google-1015751_1280.png',
        alt: 'Google',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/45/meta-6850393_1280.png',
        alt: 'Meta',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/01/29/22/53/yahoo-76684_1280.png',
        alt: 'Yahoo',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="私たちが提供するサービスは？"
    subtitle="ビジネス、ポートフォリオ、eコマース、ブログなど、さまざまな業界や目的に適したウェブサイトテンプレートを幅広く提供しています。"
    items={[
      {
        title: 'インストール手順',
        description:
          '購入したテンプレートをダウンロードし、さまざまなウェブサイトプラットフォームやコンテンツ管理システムにインストールする方法について、明確な指示を提供します。',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'デモとプレビュー',
        description:
          'お客様が購入前に選択したテンプレートがどのように見え、機能するかを確認できるように、インタラクティブなデモとプレビューを提供します。',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'テクニカルサポート',
        description:
          'テンプレートやその実装に関連する技術的な問題に対するカスタマーサポートを提供します。',
        icon: 'flat-color-icons:voice-presentation',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="私たちのテンプレートの主な特徴"
    subtitle="スタートアップや起業家のニーズに効果的に対応するために、いくつかの重要な特性を持っています。"
    columns={3}
    items={[
      {
        title: 'モダンでプロフェッショナルなデザイン',
        description:
          '現在のデザイントレンドを反映し、プロフェッショナルな印象を与える現代的なデザインを持っています。',
        icon: 'tabler:artboard',
      },
      {
        title: 'レスポンシブでモバイルフレンドリー',
        description: 'さまざまな画面サイズやデバイスにシームレスに適応し、一貫した体験を保証します。',
        icon: 'tabler:picture-in-picture',
      },
      {
        title: 'カスタマイズ可能',
        description:
          'デザイン、色、タイポグラフィ、コンテンツをブランドアイデンティティに合わせて簡単にカスタマイズできます。',
        icon: 'tabler:adjustments-horizontal',
      },
      {
        title: '高速なローディングタイム',
        description: 'スムーズなユーザーエクスペリエンスと有利な検索エンジンランキングを保証するために、速度に最適化されています。',
        icon: 'tabler:rocket',
      },
      {
        title: '検索エンジン最適化（SEO）',
        description:
          '検索エンジンの結果での可視性を向上させるために、テンプレートの構造とコードにSEOのベストプラクティスを組み込んでいます。',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: '互換性',
        description: 'さまざまなコンテンツ管理システムやウェブサイトビルダーでシームレスに動作します。',
        icon: 'tabler:plug-connected',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="よくある質問"
    items={[
      {
        title: 'ランディングページテンプレートとは何ですか？',
        description:
          'ランディングページテンプレートは、効果的なランディングページを構築するための基盤として特別に作成された事前設計されたウェブページレイアウトです。これらのテンプレートは、訪問者の注意を引き、ニュースレターへのサインアップ、購入の実行、リソースのダウンロードなど、特定のアクションや目標に向けて導くように設計されています。',
      },
      {
        title: 'なぜテンプレートを使用するべきですか？',
        description:
          '利点の一つとして、使用準備が整っている構造を提供し、大幅な時間を節約できます。ユーザーフレンドリーな設計が施されており、品質の結果を提供しながらお金を節約できる費用効果的な代替手段を提供します。',
      },
      {
        title: '購入前にテンプレートをプレビューできますか？',
        description:
          'はい、テンプレートには「デモ」ボタンがあり、購入前にプレビューすることができます。',
      },
      {
        title: 'テンプレートを使用するために技術的なスキルは必要ですか？',
        description:
          'テンプレートを使用するために高度な技術的スキルは必要ありませんが、ウェブナビゲーションの基本的な理解とオンラインツールの使用経験があると便利です。より具体的なカスタマイズが必要な場合は、ガイドを参照するか、カスタマーサポートに相談する必要があります。',
      },
      {
        title: 'テンプレートを複数のウェブサイトで使用できますか？',
        description:
          'いいえ、テンプレートは一つのウェブサイトまたはプロジェクトでのみ使用するためのシングルユースライセンスが付属しています。追加のウェブサイトでテンプレートを使用するには、追加のライセンスを購入する必要があります。',
      },
      {
        title: 'カスタマイズに関するサポートが必要な場合はどうすればいいですか？',
        description:
          'テンプレートには、カスタマイズプロセスを段階的に説明する包括的なガイドが提供されています。それでも疑問がある場合は、カスタマーサポートチームに連絡することができます。彼らはあなたの質問に答え、カスタマイズに関するガイダンスを提供し、直面している問題に対処することができます。',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Features3 Widget ************** -->

  <Features3
    title="お問い合わせ"
    subtitle="ご質問がある場合は、お気軽にお問い合わせください。"
    columns={4}
    items={[
      {
        title: '電話',
        icon: 'tabler:phone',
        callToAction: {
          target: '_blank',
          text: 'お電話でのお問い合わせ',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'メール',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'メールでのお問い合わせ',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'セールスとのチャット',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'チャットを開始',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'サポートとのチャット',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'チャットを開始',
          href: '/',
          variant: 'link',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'テンプレートを入手',
        href: 'https://github.com/onwidget/astrowind',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">私たちのビジョンの一部になりましょう</Fragment>

    <Fragment slot="subtitle">
      ダイナミックな職場環境、比類のない成長の機会、そして意義ある影響を与えるチャンスを発見してください。
    </Fragment>
  </CallToAction>
</Layout>
